{% extends "2017_design/base.html" %}
{% block project-list %}
        <section id="project-list">
        <div class="container">
            
        </div>

    </section>
    {% endblock %}
{% block gallery %}
<section id="gallery">
        <div class="container">

            <div class="row grey-text text-center">
            	<div class="col-md-8">
            		<div class="col-md-12">
		                    <h3 style="padding-top: 0px;">DAFTAR PROYEK YANG TELAH KAMI LAKUKAN</h3>
		                </div>
            		<div class="row">
		                {% for program in programs %}
		                    <div class="col-md-4" style="margin-bottom: 50px;">
		                        <a href="{% url 'beribuku_app:program.detil' program.id %}" class="thumbnail">
		                            <img style="width: 500px; height: 150px;" src="/{{ program.fotoprogram_set.all.0.gambar }}" class="img-responsive">
		                            <span class="thumbnail-title white-theme-text uppercase text-center">{{ program.nama|truncatechars:25 }}</span>
		                        </a>
		                    </div>
		                {% endfor %}
		            </div>
		            <div class="row text-center">
		                <div class="col-md-12">
		                    <a class="btn btn-default btn-red-theme" href="{% url 'beribuku_app:program-all' %}" class="grey-text">Lihat semua proyek</a>
		                </div>
		            </div>
            	</div>
            	<div class="col-md-4">
            		<div class="panel panel-info">
                        <div class="panel-heading text-center">
                            <h1 class="panel-title">Twitter</h1>
                        </div>
                        <div class="panel-body">
                            <a class="twitter-timeline"  href="https://twitter.com/_BeriBuku" data-tweet-limit="1" data-widget-id="720810964224880640">Tweet oleh @_BeriBuku</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
            	</div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}