	{% include "header2.html" %}
		{% load static %}
		{% load set_var %}
		<div class="body">
			<div class="container index-frame">			
				<div class="left col-md-3">

					<div class="second-nav">
						<ul>
							<li class="active"><a href="{% url 'home' %}"><img src="{% static 'images/home-active.png' %}">Home</a></li>
							<li><a href="{% url 'program' %}"><img src="{% static 'images/program.png' %}">Proyek</a></li>
							<li><a href="{% url 'about' %}"><img src="{% static 'images/tim.png' %}">About</a></li>
							<li><a href="{% url 'tim' %}"><img src="{% static 'images/about.png' %}">Tim</a></li>
							<li><a href="{% url 'contact' %}"><img src="{% static 'images/contact.png' %}">Contact</a></li>

						</ul>
						{% include "developer.html" %}
						
					</div>
				</div>
				<div class="right-section col-md-9">
					<div class="slider">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  	<!-- Indicators -->

						  	<!-- Wrapper for slides -->
						  	<div class="carousel-inner" role="listbox">

												<div class="item active">
										      		<img src="{% static 'images/proyek/1.png'%}" alt="">
										      		<div class="carousel-caption">
										        		<p class="title">Beribuku</p>
										        		<p class="desc">
										        			Banyak hal yang bisa kita dapat dari buku Kebahagian, pengetahuan, cinta, cerita, dongeng, pengalaman...
														</p>
														<a href="../about"><p class="link">selengkapnya</p></a>
										      		</div>
												</div>

												<div class="item">
										      		<img class="img-responsive" src="{% static 'images/proyek/2.png'%}" alt="">
										      		<div class="carousel-caption">
										        		<p class="title">Simple Act for Big Impact</p>
										        		<p class="desc">
										        			Mungkin kami bukan wadah sosial yang besar,  kami hanya sekumpulan pemuda-pemudi yang rindu melihat...
														</p>
														<a href="../about"><p class="link">selengkapnya</p></a>
										      		</div>
												</div>

												<div class="item">
										      		<img class="img-responsive" src="{% static 'images/proyek/3.png'%}" alt="">
										      		<div class="carousel-caption">
										        		<p class="title">Mulai dari kita, Mulai dari sekarang</p>
										        		<p class="desc">
										        			BeriBuku adalah projek sosial yang peduli pada dunia pendidikan Indonesia, juga merupakan...
														</p>
														<a href="../about"><p class="link">selengkapnya</p></a>
										      		</div>
												</div>
<!-- 
												 <div class="item">
										      		<img class="img-responsive" src="{% static 'images/proyek/slide-2.png'%}" alt="">
										      		<div class="carousel-caption">
										        		<p class="title">Proyek Saat Ini</p>
										        		
										        			{% for prg in program %}
						                                    {% for donasi in prg.donasi_set.all %}
						                                    {% if donasi.belum_lewat_deadline %}
						                                    <p class="desc">
						                                    {{ prg.nama }}
						                                    <a href="../detil/?programId={{ prg.id }}"><p class="link">lihat</p></a>
						                                    </p>
						                                    {% endif %}
						                                    {% endfor %}
						                                    {% endfor %}
														
														<a href="../detil/?programId={{ prg.id }}"><p class="link">lihat</p></a>
										      		</div>
												</div>  -->
						  	</div>
						  	<!-- Controls -->
						  	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    	<span class="glyphicon glyphicon-chevron-left"></span>
						    	<span class="sr-only">Previous</span>
						  	</a>
						  	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    	<span class="glyphicon glyphicon-chevron-right"></span>
						    	<span class="sr-only">Next</span>
						  	</a>
						</div>
					</div> 
					<!--
					<div class="program">

						<div>
							<div class="title">
								<div class="left">Program</div>
								<div class="link"><a href="{% url 'program' %}">Lihat program lainnya</a><img src="{% static 'images/panah-kanan.png' %}"></div>
							</div>
							<div class="content">
								<div class="row">
								{% for program in program %}
										{% set flag = True %}
										{% for foto in fotoProgram %}
											{% if foto.program == program and flag == True %}
											<div class="sample-program col-md-4">
												<img class="img-responsive" src="../../{{ foto.gambar }}">
												{% set flag = False %}
												<div class="title">{{ program.nama }}</div>
												<div class="desc">
													<p class="par">
														{% autoescape on %}
														{{ program.deskripsi|truncatewords_html:20 }}
														{% endautoescape %}
													</p>
													<a href=""><p class="link">selengkapnya</p></a>
												</div>
											</div>
										{% endif %}
										{% endfor %}
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
					--> 	
				</div>
			</div>
		</div>
	{% include "footer.html" %}