	{% include "header.html" %}
		{% load static %}
		{% load set_var %}
		<div class="body">
			<div class="container program-frame">			
				<div class="left col-md-3">

					<div class="second-nav">
						<ul>
							<li><a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}">Home</a></li>
							<li><a href="{% url 'program' %}"><img src="{% static 'images/program.png' %}">Proyek</a></li>
							<li><a href="{% url 'about' %}"><img src="{% static 'images/tim.png' %}">About</a></li>
							<li><a href="{% url 'tim' %}"><img src="{% static 'images/about.png' %}">Tim</a></li>
							<li><a href="{% url 'contact' %}"><img src="{% static 'images/contact.png' %}">Contact</a></li>
						</ul>
						{% include "developer.html" %}
					</div>
				</div>
				<div class="right-section col-md-9">
					<div class="program">
						<div class="title-page col-md-12">
							<div class="col-md-4">Konfirmasi Donatur</div>
						</div>
						{% if error %}
							<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Terdapat kesalahan dalam pengisian sebagai berikut :
							<ul>
								{% for item in error %}
								<li>{{ item }}</li>
								{% endfor %}
							</ul>
							</div>
						{% endif %}
						
						<div class="content col-md-12">
							<form enctype="multipart/form-data" action="{% url 'user.donatur.new' %}" method="POST">
                            {% csrf_token %}
                              <div class="form-group">
                                <label>Proyek</label>
                                <select name="program" class="form-control" required>
                                    {% for prg in program %}
                                    {% for donasi in prg.donasi_set.all %}
                                    {% if donasi.belum_lewat_deadline %}
                                    <option value="{{ prg.id }}"> {{ prg.nama }} </option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                              </div>

                              <div class="form-group">
                                <label>Nama</label>
                                <input type="text" name="nama" class="form-control" placeholder="masukkan nama anda" required>
                              </div>
                                
                              <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="masukkan email anda" required>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputAmount">No. Handphone</label>
                                <div class="input-group">
                                  <div class="input-group-addon">+62</div>
                                  <input type="text" name="nohp" class="form-control" id="exampleInputAmount" placeholder="" required>
                                </div>
                                <p class="help-block">Tulis tanpa '0' didepannya (contoh : 82232120000)</p>
                              </div>

                              <div class="form-group">
                                <label>Bukti Transfer</label>
                                <input type="file" name="buktitransfer" required>
					    		<p class="help-block">Unggah file gambar dengan jenis jpg, png, atau gif</p>
                              </div>

                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </form>
						</div>	
					</div>
				</div>
			</div>

		</div>
	{% include "footer.html" %}