	{% include "header.html" %}
		{% load static %}
		{% load set_var %}
		<div class="body">
			<div class="container program-frame">			
				<div class="left col-md-3">

					<div class="second-nav">
						<ul>
							<li><a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}">Home</a></li>
							<li  class="active" ><a href="{% url 'program' %}"><img src="{% static 'images/program-active.png' %}">Proyek</a></li>
							<li><a href="{% url 'about' %}"><img src="{% static 'images/tim.png' %}">About</a></li>
							<li><a href="{% url 'tim' %}"><img src="{% static 'images/about.png' %}">Tim</a></li>
							<li><a href="{% url 'contact' %}"><img src="{% static 'images/contact.png' %}">Contact</a></li>
						</ul>
						{% include "developer.html" %}
					</div>
				</div>
				<div class="right-section col-md-9">
					<div class="program">
						<div class="title-page col-md-12">
							<div class="col-md-4">Proyek</div>
						</div>
						
						<div class="content col-md-12" style="margin-bottom: 50px">
							<h3>Proyek Saat Ini</h3>
								{% for program in program %}
								{% if forloop.counter < 3%}
									{% set flag = True %}
									{% for donasi in program.donasi_set.all %}
                                		{% if donasi.belum_lewat_deadline %}
											{% for foto in program.fotoprogram_set.all %}		
												{% if flag %}
													<a href="/detil/?programId={{ program.id }}" class="proyek-choose">
													<div class="row sample-program">
														<div class="col-md-4">
																<img class="img-responsive" src="../../{{ foto.gambar }}" style="height:200px">
														</div>

														<div class="col-md-8">
															<h2>{{ program.nama }}</h2>
															<p>{{ program.deskripsi|truncatewords:30 }}</p>
														</div>
													</div>
													</a>
													{% set flag = False %}
												{% endif %}
											{% endfor%}
										{% endif %}
									{% endfor%}
									{% endif %}
								{% endfor%}
                          </div>
                          
						<div class="content col-md-12">
							<h3>Proyek Yang Sudah Selesai</h3>
							{% for program in program %}
								{% set flag = True %}
								{% for foto in program.fotoprogram_set.all %}	
									{% if flag %}

										{% for donasi in program.donasi_set.all %}
                                    		{% if not donasi.belum_lewat_deadline %}
										<a href="/detil/?programId={{ program.id }}" class="proyek-choose"><div class="sample-program col-md-4">
											<img class="img-responsive" src="../../{{ foto.gambar }}" style="height:200px">
											
											<div class="title">{{ program.nama }}</div>
										</div></a>
											{% endif %}
										{% endfor %}

										{% set flag = False %}
									{% endif %}
								{% endfor%}
							{% endfor%}
						</div>	
						
					</div>

				</div>

			</div>

	{% include "footer.html" %}
		</div>
