{% include "admin/header.html" %}
	{% load set_var %}
	{% load currencytag %}
	{% load static %}
	<div class="col-md-10">
		
		<div class="row">
			<div class="page-header bootstrap-admin-content-title">
				<h2>Laporan Keuangan Proyek
						{% filter force_escape|upper %}
    						{{ program.nama }}
						{% endfilter %}
					</h2>

				<a href="{% url 'admin.program' %}" class="action">
					<button class="btn btn-sm btn-default">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Back
					</button>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default bootstrap-admin-no-table-panel">
				<div class="panel-heading">
					

				</div>
				<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">

		<div class="admin-content">
			<div class="newprogram">
				<div class="container" style="width:100%">
					<div class="title" style="margin-left:0px">
						
					</div>
				</div>
			</div>
			<div class="program">
				<div class="container">
				
					<div class="table">
						<table>
							<th>Keterangan</th>
							<th>Debet</th>
							<th>Kredit</th>

							{% autoescape on %}
							{% for l in laporan %}
							<tr>
								<td>{{ l.keterangan }}</td>
								<td>
									{% if l.isDebit %}
										{{ l.nominal|currency }}
									{% endif %}
								</td>
								<td>
									{% if l.isKredit %}
										{{ l.nominal|currency }}
									{% endif %}
								</td>
							</tr>
							{% endfor %}
							{% endautoescape %}

							<tr>
								<td><b>Saldo</b></td>
								<td></td>
								<td><b>{{ saldo|currency }}</b></td>
							</tr> 
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


