	{% include "admin/header.html" %}
	{% load static %}
	<div class="col-md-10">

		<div class="row">
			<div class="page-header bootstrap-admin-content-title">
				<h2>UNGGAH DONASI DARI EXCEL</h2>

				<a href="{% url 'admin.program' %}" class="action">
					<button class="btn btn-sm btn-default">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Back
					</button>
				</a>

			</div>

		</div>

		<div class="row">
			<div class="panel panel-default bootstrap-admin-no-table-panel">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title">
						{{ program.nama }}
					</div>


				</div>
				<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">

		<div class="admin-content">
			<div class="newprogram">
				<div class="container" style="width:100%">
					<form action="" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
						{% if error_msg %}
							<div class="form-group">
						    	<label for="" class="col-sm-2 control-label"></label>
						    	<div class="col-sm-10">
								    <div class="alert alert-danger alert-dismissible" role="alert">
									<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
										Terdapat kesalahan dalam pengisian sebagai berikut :
									<ul>
										{% for item in error_msg %}
										<li>{{ item }}</li>
										{% endfor %}
									</ul>
										<p>Silakan perbaiki pada bagian tersebut, dan upload kembali file excel Anda.</p>
									</div>
						    	</div>
						  	</div>
					  	{% endif %}

					  	{% if success_msg %}
							<div class="form-group">
						    	<label for="" class="col-sm-2 control-label"></label>
						    	<div class="col-sm-10">
								    <div class="alert alert-success alert-dismissible" role="alert">
									<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ sukses }}-->
									<ul>
										{% for item in success_msg %}
										<li>{{ item }}</li>
										{% endfor %}
									</ul>
									</div>
						    	</div>
						  	</div>
					  	{% endif %}

						<div class="form-group">
					    	<label for="" class="col-sm-2 control-label">Proyek</label>
					    	<div class="col-sm-10">
							    <input type="text" name="proyek" class="form-control" value="{{ program.nama }}" placeholder="Nama Proyek" readonly>
					    	</div>
					  	</div>

						<div class="form-group">
					    	<label for="" class="col-sm-2 control-label">Bentuk Donasi*</label>
					    	<div class="col-sm-10" id="f2">
							      <input type="checkbox" id="donasi_uang" name="donasi_uang" value="1"> uang</br>
							      <input type="checkbox" id="donasi_buku" name="donasi_buku" value="2"> buku</br>
					    	</div>
					  	</div>

					  	<div class="form-group">
					    	<label for="" class="col-sm-2 control-label"></label>
					    	<div class="col-sm-10" id="f2">
							      <p id="show1" class="help-block"><i style="font-size:13px">Pastikan file excel sesuai dengan <a href="{% static 'files/template.xlsx' %}" style="color:black"><i><strong>Template</strong></i></a> yang diberikan. Unduh  <i><strong>Template</strong></i><a style="color:black" href="{% static 'files/template.xlsx' %}"> disini</a>.</i>
							      </p>
					    	</div>
					  	</div>

					  	<div class="form-group">
					    	<label for="inputPassword3" class="col-sm-2 control-label">
					    	{% if laporan %}
					    		Ganti File Excel
					    	{% else%}
					    		Excel File
					    	{% endif %}
					    	</label>
					    	<div class="col-sm-10 div-gambar">
					    		<input type="file" class="form-control" name="namafile" id="" placeholder="" required>
					    	</div>
					  	</div>

					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-primary">Upload</button>
					    	</div>
					  	</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
		{% include "admin/footer.html" %}
</body>

<script>
$(document).ready(function(){
});
</script>
</html>