	{% include "admin/header.html" %}
	{% load set_var %}
	{% load static %}
	<div class="col-md-10">
		
		<div class="row">
			<div class="page-header bootstrap-admin-content-title">
				<h1>Daftar Donasi Buku</h1>

				<a href="{% url 'admin.program' %}" class="action">
					<button class="btn btn-sm btn-default">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Back
					</button>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default bootstrap-admin-no-table-panel">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title"><i class="glyphicon glyphicon-book"></i>&nbsp;</i> {{ program.nama }}</div>						
					<div class="pull-right"><span class="badge"><a href="/admin/donasi/uang/view/{{ program.id }}"><i class="glyphicon glyphicon-tags"></i>&nbsp;
						Donasi Uang</a></span></div>
					<!-- <div class="pull-right"><span class="badge"><a href="#"><i class="glyphicon glyphicon-tags"></i>&nbsp;Donasi Buku</a></span></div> -->

				</div>
				<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">


		<div class="admin-content">		
			<div class="program">
				<div class="container" style="width:100%">
					{% if alert_msg %}
						<div class="alert alert-{% if alert_success %}success{% else %}danger{% endif %} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% autoescape on %}{{ alert_msg }}{% endautoescape %}</div>
					{% endif %}
					
				<div class="table">
					<table class="datatable">
						<thead>
							<tr>
								<th>No</th>
								<th>Tanggal</th>
								<th>Keterangan</th>
								<th>Via</th>
								<th>Konfirmasi</th>
								<th>Nama Donatur</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for data in donasi_buku %}
							<tr>
								<td>{{ forloop.counter }}</td>

								<td>
								{% autoescape on %}
									{{ data.donasi_donatur.tanggal|date:"d M Y" }}
								{% endautoescape %}
								</td>

								<td>{{ data.keterangan }}</td>
								<td>{{ data.donasi_donatur.via }}</td>
								<td>{% if data.donasi_donatur.konfirmasi %}
									<p class="glyphicon glyphicon-ok"></p>
								{% else %}
									<p class="glyphicon glyphicon-remove"></p>
								{% endif %}</td>
								<td>{{ data.donasi_donatur.donatur.nama }}</td>

								<td>
								<div class="btn-group" role="group" aria-label="...">
								<a href="/admin/donasi/buku/edit/{{ data.id }}" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
								<a href="#" data-toggle="modal" data-target="#delete-{{ data.id }}" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
								</div>
								</td>

								<div id="delete-{{ data.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">

								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title">Konfirmasi Menghapus Donatur</h4>
								      </div>

								      <div class="modal-body">
								        <p>Apakah anda yakin akan menghapus donasi {{ data.jenis }} dari donatur <strong> {{ data.donasi_donatur.donatur.nama }}</strong> ? Donasi yang dihapus tidak dapat dikembalikan</p>
								      </div>

								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Batalkan</button>
								        <a href="/admin/donasi/buku/delete/{{ data.id }}" class="btn btn-primary">Hapus Donasi</a>
								      </div>
								    </div>
								  </div>
								</div>

							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
		{% include "admin/footer.html" %}

	{% load static %}
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>