	{% include "admin/header.html" %}
		<div class="admin-content">
			<div class="program">
				<div class="container">
					<ul>
						<li class="create"><a href="{% url 'admin.program.new' %}"><span>+</span>create new program</a></li>
						<li class="sort">
							<select>
							  	<option value="Sort by" class="test">Sort by</option>
							  	<option value="Latest Program">Latest Program</option>
							  	<option value="Deadline">Deadline</option>
							</select>
						</li>
					</ul>
				</div>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>No</th>
								<th>Nama Program</th>
								<th>Target</th>
								<th>Deadline</th>
								<th>Action</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Program Air Bersih</td>
								<td>Warga Papua</td>
								<td>12/12/2013</td>
								<td><a href="">view</a></td>
								<td><a href="">edit</a></td>
								<td><a href="">delete</a></td>
							</tr>
							<tr>
								<td>2</td>
								<td>Selamat Hari Raya</td>
								<td>Indonesia</td>
								<td>1/12/2013</td>
								<td><a href="">view</a></td>
								<td><a href="">edit</a></td>
								<td><a href="">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>